<a href="https://colab.research.google.com/github/sa21262/datascience22/blob/main/Assignment21a/diabetes_binary_5050split_health_indicators_BRFSS2015.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%matplotlib inline
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns


import itertools

from sklearn.model_selection import train_test_split, StratifiedShuffleSplit, cross_val_score

from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, RandomForestClassifier, ExtraTreesClassifier
from sklearn.linear_model import SGDRegressor, BayesianRidge
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import accuracy_score as acc
from sklearn.metrics import make_scorer, confusion_matrix
from sklearn.dummy import DummyRegressor, DummyClassifier
from sklearn import metrics
from sklearn import datasets
import sklearn
from collections import Counter
from imblearn.datasets import make_imbalance

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/sa21262/datascience22/main/Assignment21a/diabetes_binary_5050split_health_indicators_BRFSS2015.csv")
df

       Diabetes_binary  HighBP  HighChol  ...   Age  Education  Income
0                  0.0     1.0       0.0  ...   4.0        6.0     8.0
1                  0.0     1.0       1.0  ...  12.0        6.0     8.0
2                  0.0     0.0       0.0  ...  13.0        6.0     8.0
3                  0.0     1.0       1.0  ...  11.0        6.0     8.0
4                  0.0     0.0       0.0  ...   8.0        5.0     8.0
...                ...     ...       ...  ...   ...        ...     ...
70687              1.0     0.0       1.0  ...   6.0        4.0     1.0
70688              1.0     0.0       1.0  ...  10.0        3.0     6.0
70689              1.0     1.0       1.0  ...  13.0        6.0     4.0
70690              1.0     1.0       1.0  ...  11.0        2.0     4.0
70691              1.0     1.0       1.0  ...   9.0        6.0     2.0

[70692 rows x 22 columns]

In [3]:
df.info() # information about the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_binary       70692 non-null  float64
 1   HighBP                70692 non-null  float64
 2   HighChol              70692 non-null  float64
 3   CholCheck             70692 non-null  float64
 4   BMI                   70692 non-null  float64
 5   Smoker                70692 non-null  float64
 6   Stroke                70692 non-null  float64
 7   HeartDiseaseorAttack  70692 non-null  float64
 8   PhysActivity          70692 non-null  float64
 9   Fruits                70692 non-null  float64
 10  Veggies               70692 non-null  float64
 11  HvyAlcoholConsump     70692 non-null  float64
 12  AnyHealthcare         70692 non-null  float64
 13  NoDocbcCost           70692 non-null  float64
 14  GenHlth               70692 non-null  float64
 15  MentHlth              70692 non-null  float64
 16  PhysHlth              70692 non-null  float64
 17  DiffWalk              70692 non-null  float64
 18  Sex                   70692 non-null  float64
 19  Age                   70692 non-null  float64
 20  Education             70692 non-null  float64
 21  Income                70692 non-null  float64
dtypes: float64(22)
memory usage: 11.9 MB

In [4]:
print("Number of rows before dropping NaNs: %d" % len(df)) #dropping NaN values 
                                                        
df = df.dropna()
print("Number of rows after dropping NaNs: %d" % len(df)) #the results show that no NaN Values are found

Number of rows before dropping NaNs: 70692
Number of rows after dropping NaNs: 70692